.AuthForm {
  margin-top: 15%;
  display: flex;
  justify-content: center;
}

.RegisterForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formField {
  margin-top: 10px;
}

.submitButton {
  margin-top: 10px !important;
}

.Formik {
  text-align: center;
}

.Landing {
  height: 100%;
  background-color: #74a5ff;
}
